<div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
            </div>
            <div class="title">订单</div>
            <div class="right">
            </div>
            <div class="subnavbar">
                <div class="subnavbar-inner">
                    <div class="segmented segmented-raised">
                        <a class="button tab-link tab-link-active" href="#driverOrder">车主订单</a>
                        <a class="button tab-link" href="#passengerOrder">乘客订单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <div class="tabs">
            <div class="tab tab-active" id="driverOrder">
                <div class="block">
                    <p>Lorem ipsum dolor sit amet...</p>
                </div>
            </div>
            <div class="tab" id="passengerOrder">
                <div class="block">
                    <p>Donec iaculis posuere massa sed dignissim...</p>
                </div>
            </div>
        </div>
    </div>
</div>
