<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <!--<meta http-equiv="Content-Security-Policy"
          content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Your app title -->
    <title>My App</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/framework7/css/framework7.min.css">
    <link rel="stylesheet" href="/framework7/css/framework7-icons.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/framework7/css/my-app.css">
</head>
<body>
<!-- App root element -->
<div id="app">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>
    <!-- Views/Tabs container -->
    <div class="views tabs ios-edges">
        <!-- Tabbar for switching views-tabs -->
        <div class="toolbar tabbar-labels toolbar-bottom-md">
            <div class="toolbar-inner">
                <a href="#view-home" class="tab-link tab-link-active">
                    <i class="icon f7-icons ios-only icon-ios-fill">home_fill</i>
                    <span class="tabbar-label">首页</span>
                </a>
                <a href="#view-catalog" class="tab-link">
                    <i class="icon f7-icons ios-only icon-ios-fill">list_fill</i>
                    <span class="tabbar-label">订单</span>
                </a>
                <a href="#view-settings" class="tab-link">
                    <i class="icon f7-icons ios-only icon-ios-fill">person_fill</i>
                    <span class="tabbar-label">我的</span>
                </a>˙
            </div>
        </div>
        <!-- Your main view/tab, should have "view-main" class. It also has "tab-active" class -->
        <div id="view-home" class="view view-main tab tab-active">
            <!-- Page, data-name contains page name which can be used in page callbacks -->
            <div class="page" data-name="home">
                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-inner sliding">
                        <div class="left">
                        </div>
                        <div class="title">Home</div>
                        <div class="right">
                        </div>
                    </div>
                </div>

                <!-- Scrollable page content-->
                <div class="page-content">
                    <div id="container" style="width: 100%;height: 100%;"></div>
                </div>
            </div>

            <!-- Catalog View -->
            <div id="view-catalog" class="view tab">
                <!-- Catalog page will be loaded here dynamically from /catalog/ route -->
            </div>

            <!-- Settings View -->
            <div id="view-settings" class="view tab">
                <!-- Settings page will be loaded here dynamically from /settings/ route -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/framework7/js/framework7.min.js"></script>
<script type="text/javascript" src="/framework7/js/routes.js"></script>
<script type="text/javascript" src="/framework7/js/my-app.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.12&key=4098c600aed5b4cef3a9f57b298acaff"></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/underscore-min.js"></script>
<script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/backbone-min.js"></script>
<script type="text/javascript" src='https://a.amap.com/jsapi_demos/static/demo-center/js/prety-json.js'></script>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 11, //初始化地图层级
        center: [116.397428, 39.90923] //初始化地图中心点
    });

//    // 获取输入提示信息
//    function autoInput() {
//        var keywords = document.getElementById("input").value;
//        AMap.plugin('AMap.Autocomplete', function () {
//            // 实例化Autocomplete
//            var autoOptions = {
//                city: '全国'
//            }
//            var autoComplete = new AMap.Autocomplete(autoOptions);
//            autoComplete.search(keywords, function (status, result) {
//                // 搜索成功时，result即是对应的匹配数据
//                var node = new PrettyJSON.view.Node({
//                    el: document.querySelector("#input-info"),
//                    data: result
//                });
//            })
//        })
//    }
//
//    autoInput();
//    document.getElementById("input").oninput = autoInput;
</script>
</body>
</html>