<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.dao.PassengerOrderEntityMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.model.PassengerOrderEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="passenger_no" jdbcType="VARCHAR" property="passengerNo" />
    <result column="driver_order_no" jdbcType="VARCHAR" property="driverOrderNo" />
    <result column="passenger_count" jdbcType="INTEGER" property="passengerCount" />
    <result column="start_name" jdbcType="VARCHAR" property="startName" />
    <result column="end_name" jdbcType="VARCHAR" property="endName" />
    <result column="actual_amount" jdbcType="INTEGER" property="actualAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
    <result column="passenger_uid" jdbcType="VARCHAR" property="passengerUid" />
    <result column="start_xpoint" jdbcType="VARCHAR" property="startXpoint" />
    <result column="start_ypoint" jdbcType="VARCHAR" property="startYpoint" />
    <result column="end_xpoint" jdbcType="VARCHAR" property="endXpoint" />
    <result column="end_ypoint" jdbcType="VARCHAR" property="endYpoint" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, passenger_no, driver_order_no, passenger_count, start_name, end_name, actual_amount, 
    status, actual_start_time, actual_end_time, passenger_uid, start_xpoint, start_ypoint, 
    end_xpoint, end_ypoint, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_passenger_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_passenger_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.model.PassengerOrderEntity">
    insert into tb_passenger_order (id, passenger_no, driver_order_no, 
      passenger_count, start_name, end_name, 
      actual_amount, status, actual_start_time, 
      actual_end_time, passenger_uid, start_xpoint, 
      start_ypoint, end_xpoint, end_ypoint, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{passengerNo,jdbcType=VARCHAR}, #{driverOrderNo,jdbcType=VARCHAR}, 
      #{passengerCount,jdbcType=INTEGER}, #{startName,jdbcType=VARCHAR}, #{endName,jdbcType=VARCHAR}, 
      #{actualAmount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{actualStartTime,jdbcType=TIMESTAMP}, 
      #{actualEndTime,jdbcType=TIMESTAMP}, #{passengerUid,jdbcType=VARCHAR}, #{startXpoint,jdbcType=VARCHAR}, 
      #{startYpoint,jdbcType=VARCHAR}, #{endXpoint,jdbcType=VARCHAR}, #{endYpoint,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.model.PassengerOrderEntity">
    insert into tb_passenger_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="passengerNo != null">
        passenger_no,
      </if>
      <if test="driverOrderNo != null">
        driver_order_no,
      </if>
      <if test="passengerCount != null">
        passenger_count,
      </if>
      <if test="startName != null">
        start_name,
      </if>
      <if test="endName != null">
        end_name,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="actualStartTime != null">
        actual_start_time,
      </if>
      <if test="actualEndTime != null">
        actual_end_time,
      </if>
      <if test="passengerUid != null">
        passenger_uid,
      </if>
      <if test="startXpoint != null">
        start_xpoint,
      </if>
      <if test="startYpoint != null">
        start_ypoint,
      </if>
      <if test="endXpoint != null">
        end_xpoint,
      </if>
      <if test="endYpoint != null">
        end_ypoint,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="passengerNo != null">
        #{passengerNo,jdbcType=VARCHAR},
      </if>
      <if test="driverOrderNo != null">
        #{driverOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="passengerCount != null">
        #{passengerCount,jdbcType=INTEGER},
      </if>
      <if test="startName != null">
        #{startName,jdbcType=VARCHAR},
      </if>
      <if test="endName != null">
        #{endName,jdbcType=VARCHAR},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passengerUid != null">
        #{passengerUid,jdbcType=VARCHAR},
      </if>
      <if test="startXpoint != null">
        #{startXpoint,jdbcType=VARCHAR},
      </if>
      <if test="startYpoint != null">
        #{startYpoint,jdbcType=VARCHAR},
      </if>
      <if test="endXpoint != null">
        #{endXpoint,jdbcType=VARCHAR},
      </if>
      <if test="endYpoint != null">
        #{endYpoint,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.model.PassengerOrderEntity">
    update tb_passenger_order
    <set>
      <if test="passengerNo != null">
        passenger_no = #{passengerNo,jdbcType=VARCHAR},
      </if>
      <if test="driverOrderNo != null">
        driver_order_no = #{driverOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="passengerCount != null">
        passenger_count = #{passengerCount,jdbcType=INTEGER},
      </if>
      <if test="startName != null">
        start_name = #{startName,jdbcType=VARCHAR},
      </if>
      <if test="endName != null">
        end_name = #{endName,jdbcType=VARCHAR},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="actualStartTime != null">
        actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passengerUid != null">
        passenger_uid = #{passengerUid,jdbcType=VARCHAR},
      </if>
      <if test="startXpoint != null">
        start_xpoint = #{startXpoint,jdbcType=VARCHAR},
      </if>
      <if test="startYpoint != null">
        start_ypoint = #{startYpoint,jdbcType=VARCHAR},
      </if>
      <if test="endXpoint != null">
        end_xpoint = #{endXpoint,jdbcType=VARCHAR},
      </if>
      <if test="endYpoint != null">
        end_ypoint = #{endYpoint,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.model.PassengerOrderEntity">
    update tb_passenger_order
    set passenger_no = #{passengerNo,jdbcType=VARCHAR},
      driver_order_no = #{driverOrderNo,jdbcType=VARCHAR},
      passenger_count = #{passengerCount,jdbcType=INTEGER},
      start_name = #{startName,jdbcType=VARCHAR},
      end_name = #{endName,jdbcType=VARCHAR},
      actual_amount = #{actualAmount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      passenger_uid = #{passengerUid,jdbcType=VARCHAR},
      start_xpoint = #{startXpoint,jdbcType=VARCHAR},
      start_ypoint = #{startYpoint,jdbcType=VARCHAR},
      end_xpoint = #{endXpoint,jdbcType=VARCHAR},
      end_ypoint = #{endYpoint,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>